@import "compass"
@import "blueprint"
@import "compass/reset"
@import "compass/utilities/general/float"
@import "compass/css3/font-face"
@import "blueprint/buttons"
@import "compass/css3/border-radius"

@import "compass/layout/grid-background"

// Colors
$orange         : #f16421 
// ... greys 
$lightgrey      : #999
$black          : #5e5e5d
$menugrey       : #ebe2e2
$bg             : #eeeff2
$color          : #616161
$bottom         : #e2e2e2
$invisiblegrey  : #dcdcdc
$darkgrey       : #989898
// ... blues 
$lightblue      : #00879e
// ... red
$lightred       : #ebe2e2
// ... greens
$green          : #75b948
$lightgreen     : #71be44
$inside         : white

// Default Parameters
$blueprint_grid_columns     : 12
$blueprint-grid-margin      : 15px
$blueprint-grid-width       : 65px
$blueprint-grid-outer-width : 80px
$blueprint-container-size   : 960px


$social   : url('../images/sprite_social.png')
$arrows   : url('../images/sprite_arrows.png')
$contacts : url('../images/sprite_contact.png')
$logo     : url('../images/sprite_logo.png')
$year     : url('../images/year.png')
$noise    : url('../images/noise.png')

$ribbon1  : url('../images/ribbon01.png')
$ribbon2  : url('../images/ribbon02.png')
$ribbon3  : url('../images/ribbon03.png')
$ribbon4  : url('../images/ribbon04.png')
$ribbon-bottom  : url('../images/ribbon_bottom.png')

$gameone  : url('../images/sprite_logo_gameone.png')
$vice     : url('../images/sprite_logo_vice.png')
$metro    : url('../images/sprite_logo_metro.png')

.orange
  color: $orange
.blue
  color: $lightblue
.green
  color: $green
.grey
  color: $color !important


// Base font

//Working with firefox
// @font-face {
//   font-family: "CABNDWebBold";
//   src: url("cabndwebbold-webfont.eot");
//   src: url("cabndwebbold-webfont.ttf") format("truetype"), url("cabndwebbold-webfont.svg#CABNDWebBold") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }


//+font-face("CABNDWebBold", font-files("cabndwebbold-webfont.woff", "woff", "cabndwebbold-webfont.ttf", "truetype", "cabndwebbold-webfont.svg#CABNDWebBold", "svg" ), "cabndwebbold-webfont.eot", normal, normal)
@font-face 
  font-family: "CABNDWebBold"
  src: url('cabndwebbold-webfont.eot')
  src: url('cabndwebbold-webfont.eot?#iefix') format('embedded-opentype')
  src: url('cabndwebbold-webfont.woff') format('woff')
  src: url('cabndwebbold-webfont.svg#CABNDWebBold') format("svg"), url('cabndwebbold-webfont.ttf') format("truetype")
  font-weight: normal
  font-style: normal


=font-default
  font: 13px Arial, Helvetica, sans-serif 
  font-style: normal

=font-sdg
  font-family: "CABNDWebBold", Helvetica, Arial, sans-serif
  font-style: normal

=middle-size($x)
  text-transform: uppercase
  color: $x
  
=outgridded($height: auto)
  height: $height
  width: 100%
  .gridded
    +container

=input-form($height, $adjust:0px)
  height: $height
  @if $adjust==0px
    line-height: $height
  @else
    line-height: $adjust
  
=firefox-hack ($selector, $values) 
  @-moz-document url-prefix() { $selector { $values; } }

=border-box($x)
  // +showgrid 
  $padding: 15px
  $padding_top: 33px
  +container
  height: $x - $padding_top + $padding
  padding: 
    top: $padding_top
    left: $padding
    right: 0
    bottom: 0
  border:
    bottom: 1px solid $lightgrey
  position: relative
  margin:
    bottom: 30px
  position: relative

      
    
    

// DEBUG

//.gridded
//  +showgrid    
        
// Links
a
  text-decoration: none
  font-weight: bold
  &:hover
    color: $orange
  &:focus,
  &:active
    outline: none
  &:visited
    // Default style for visited links

input
  &[type=text]
    background: white
    border: 1px solid $lightgrey
    color: $lightgrey
    padding:  5px 10px
    margin:
      right: 20px
      bottom: 10px
    +border-radius
  &[type=submit] 
    +font-sdg
    background: $lightgrey
    border: none
    +input-form(25px, 24px)
    +middle-size($inside)
    &:hover
      background: $menugrey
      color: $orange

h1
  +column(12)
  width: 100%
  +font-sdg
  margin:
    top: 60px
    bottom: 45px
  font-size: 3em

body
  +font-default
  //background: $bg $noise
  background: #FFF
  color: $color
  

  .gridded
    +container
  #content
    +container
    //+showgrid
    
    padding-top: 143px
    overflow: visible
    #flip-counter.flip-counter
      +column(6)
      +prepend(4)
      margin-left: -50px
      
      
    #logo
      +font-sdg
      +column(7)
      background: $logo no-repeat -10px -10px
      //padding-left: 78px
      //margin-right: -10px
      height: 93px
      z-index: 1
      &:hover
        background-position: -10px -113px
        cursor: pointer
      span
        //+float-left
        +column(6)
        +prepend(1)
      #baseline
        color: $orange
        font-size: 27px
        padding-top: 5px
        text-transform: uppercase
      #title
        font-size: 76px
        line-height: 0.86
        em
          color: $lightgrey

          
    #staytunes
      +font-sdg
      +column(5)
      //width: 360px
      background: $year no-repeat 0 1px
      height: 217px
      font-size: 28px
      +middle-size($lightgrey)
      //padding:
        //left: 27px
        //bottom: 10px
      border-bottom: 1px solid $lightgrey
      span
        +float-left
        line-height: 0.85
        font-size: 76px
        padding-left: 26px
      #formmail
        +column(5)
        //padding:
          //left: 135px
          //top: 19px
        margin-top: 5px
        background: $arrows repeat-y 20px 110px 
        text-align: right
        position: relative
        //height: 90px
        z-index: 1
        .form
          padding:
            top: 19px
          +column(3)
          +prepend(2)
          input
            width: 100%
            &[type=text]
              width: 91%
            &[type=submit] 
              background: $orange 
              border: none
              font-size: 28px
              height: 40px
              line-height: 40px
              &:hover
                background: $menugrey
                color: $orange

    #bullshit
      +column(12)
      +clearfix
      //height: 1000px
      //border-left: 1px $lightgrey dashed
    h1
      +column(12)
      +font-sdg
      margin:
        top: 75px
        bottom: auto
      padding:
        left: 13px
        right: 17px
      border:
        bottom: 1px solid $lightgrey
      font-size: 4.25em
      position: relative
      &.small
        font-size: 3em
      em.ribbon
        background: no-repeat
        position: absolute
        //border: 1px solid
        &.discover
          left: -73px
          top: 15px
          height: 413px
          width: 73px 
          background: $ribbon2 no-repeat 0 0
        &.participant
          left: -73px
          top: 27px
          height: 204px
          width: 73px 
          background: $ribbon3 no-repeat 6px 0
        &.sponsors
          left: -68px
          top: 27px
          height: 282px
          width: 73px 
          background: $ribbon4 no-repeat -6px 0  
    #discover
      // position: relative
      +border-box(326px)
      p
        +column(5)
      .duration
        +font-sdg
        +column(2)
        background: $color
        color: $menugrey
        +border-radius(100px)
        font-size: 7.5em
        text-align: center
        height: 140px
        span
          font-size: 0.25em
          display: block
          margin-top: -10px
      .cloud
        +column(5)
        font-size: 1.7em
        color: $darkgrey
      .button
        position: relative
        bottom: -88px
        background-position-x: 440px
        text-align: right
        em
          font-size: 0.5em
          float: left
          display: block
          width: 220px
          line-height: 16px
          text-align: left
          position: relative
          top: -59px




    #participant
      +border-box(124px)
      a.button
        margin-top: -5px
      p
        background: none
        +column(7)
    #sponsors
      +border-box(198px)
      a.button
        margin-top: -15px
      .sponsors
        +column(8)
        a
          height: 56px
          width: 200px
          display: inline-block
          margin-bottom: 20px
          &.gameone
            background: $gameone  -9px -57px no-repeat
            &:hover
              background-position-y: 9px
          &.metro
            background: $metro -11px -96px  no-repeat
            height: 63px
            &:hover
              background-position-y: -21px
          &.vice
            background: $vice 8px -70px  no-repeat
            &:hover
              background-position-y: -14px
  
  .button
    $height: 80px
    +float-right
    +font-sdg
    clear: right
    background: $menugrey $arrows 193px 7px no-repeat
    font: 
      size: 1.8em
      weight: lighter
    color: $color
    height: $height
    // width:  167px
    line-height: $height
    padding: 0 60px
    margin-bottom: 30px
    &:hover
      background: 
        color:  $lightgreen 
        position: 193px -57px
      color: white
      

  #contactus
    background: $lightred /*url('../images/noise.png')*/
    +outgridded()
    padding:
      bottom: 50px
    h1
      color: $orange
    form
      +column(5)
      font-size: 1.3em
      input[type=text]
        background: white $contacts no-repeat 
        +column(3)
        +clearfix
        border: $invisiblegrey 1px solid
        +border-radius(3px)
        height: 18px
        padding:
          left: 40px
        +reset-focus
      textarea
        +column(5)
        +clearfix
        height: 150px
        border: $invisiblegrey 1px solid
        margin:
          bottom: 20px
        +border-radius(3px)
        padding: 5px 10px
        +reset-focus
      input[type=submit]
        +column(2)
        +clearfix
        border: none
        background: $orange
        font-size: 24px
        +input-form(35px)
        &:hover
          background: $menugrey
          color: $orange
      input
        &.name
          background:
            position: -7px -5px
        &.email
          background:
            position: -7px -45px
        &.message
      
    .contactinfo
      +column(6)
      +prepend(1)
      li
        //background: red
        margin:
          bottom: 35px
        font-size: 1.1em
        +clearfix
        padding:
          left: $blueprint-grid-margin + $blueprint-grid-width
        background: $contacts no-repeat 
        li:first-child
          padding:
            top: 7px
          font-size: 1.3em
          a
            font-size: 0.9em
        li
          margin: 0 
            top: 5px 
          padding: 
            left: 0
          background: none
          font-weight: bold
          color: $orange
        a
          +column(5)
          font-weight: normal
          color: $lightgrey
        &.adress
          background:
            position: 28px -125px
        &.phone
          background:
            position: 28px -165px
          height: 32px
        &.mail
          background:
            position: 28px -203px
        &.adress, &.phone, &.mail
          color: $lightgrey
  
  #about
    display: inline-block  
    a, a:hover
      color: $green
    .about
      +column(3)
      height: 500px
      h1
        color: $green
        margin:
          bottom: 15px
    .trombi
      margin:
        top: 64px  
        bottom: 20px
      li
        +column(3)
        height: 260px
        margin:
          bottom: 20px
        .face
          height: 150px   
          width: 100%
          background: black
        .name
          +font-sdg
          font-size: 1.5em
          padding:
            top: 15px
            bottom: 10px
        .description
  
  #footer
    background: $bottom $ribbon-bottom no-repeat 50% 0
    padding:
      top: 60px
      bottom: 30px
    margin:
      top: 75px
    +outgridded()
    ul
      li
        +column(3)
        a
          color: $color
          &:hover
            color: $lightblue
        h1
          color: $lightblue
          font-weight: bold
          font-size: 13px
          padding:
            bottom: 10px
          margin: 0
        input
          &[type=text]
            +border-radius(0)
            border:
              color: $invisiblegrey
            height: 9px
            margin:
              top: -3px
          &[type=submit] 
            +input-form(23px, 22px)
            background: $lightblue
            color: white
            &:hover
              background: white
              color: $lightblue
            


    
@-moz-document url-prefix()
  body
    #content
      h1
        .ribbon.discover
          top: 20px
        .ribbon.participant
          top: 32px
        .ribbon.sponsors
          top: 32px
      #discover 
        .duration
          span
            margin-top: -15px
        .button 
          background-position: 441px 10px
          em
            top: 22px
          &:hover
            background-position: 441px -54px
    .button
      background-position: 192px 10px
      &:hover
        background-position: 193px -53px
    