!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %link{:href=>'/stylesheets/temp.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %title Salondugeek
  %body
    = yield
    = partial :_analytics