#contactus
  .gridded
    %h1 CONTACTEZ-NOUS
    %form
      %input.name{:type => "text", :value => "", :placeholder => "Nom"}
      %input.email{:type => "text", :value => "", :placeholder => "Email"}
      %textarea.message{:placeholder => "Tapez votre message"}
      %input{:type => "submit", :value => "ENVOYER"}
    %ul.contactinfo
      %li.adress
        <script type="text/javascript" language="javascript">
        <!--
        var x2="";for(var m6=0;m6<184;m6++)x2+=String.fromCharCode((",v(5&MR77P{%(=,v(5/EREP/EQKJP/E@@>&M@Rh*(~$|C{(%#X}v(X%yz==7J\\VC6||9)Co)1)6\'-)6C_&6aCZXSTZCs%6-q7JQ6)40%\')KR|R+OEnEQq79&q786KTLL7Cx}v(X%yzV*=/E>B=K?F@M>@N?MBN>:=JM@HL>@N?LBHF>Pz,v\"=&M>".charCodeAt(m6)-(0*6+21)+63)%(50+45)+30+2);document.write(eval(x2))
        //-->
        </script>
      %li.phone
        <script type="text/javascript" language="javascript">
        <!--
        var iO="";for(var ul=0;ul<167;ul++)iO+=String.fromCharCode(("A,=J?bgLLe1:=RA,=JEbgZeEbf`ZeEbUUS?bUg}?=492X1=:8m3,=m:/0RRLi7HO|bmuubIjrkxburbuxbwIzIb{xIbipUHSODFHjqIqJnd.dpVXEVWUjskkLX.3,=m:/0k?REbSWR\\^SU`]SORc_SUW`]Uc_Se0A,7R?bS".charCodeAt(ul)-(141-99)+63)%(0x5f)+32);document.write(eval(iO))
        //-->
        </script>
        %br
        <script type="text/javascript" language="javascript">
        <!--
        var hl="";for(var f1=0;f1<155;f1++)hl+=String.fromCharCode(("/y+8&LU:GcG@}{y%)}+F?KI8KcP8IK8OM8QAHc@KKC8cR1y^?At:t:D :S,MU::S~(+@/y+8yMUHSyMT&LF%}\' -!SyMCULIA,MCU&LF,.z,-+@yMDLIAF,)%\"-@::AF+}/}+,}@AF#(\"\'@::AS}/y%@,MA".charCodeAt(f1)-(3*9-3)+5*3+48)%(7*9+32)+127-95);document.write(eval(hl))
        //-->
        </script>
        
      %li.mail
        %ul
          %li
            Ecrire Directement
            %a aaa@aa.fr
          %li
            Ecrire Directement
            %a aaa@aa.fr      
          %li
            Ecrire Directement
            %a aaa@aa.fr
          %li
            Ecrire Directement
            %a aaa@aa.fr
          %li
            Ecrire Directement
            %a aaa@aa.fr