#footer
  .gridded
    %ul
      %li
        %h1 NEWSLETTER
        %form
          %input{:type => "text", :value => "", :placeholder => "Email"}
          %input{:type => "submit", :value => "S'INSCRIRE"}        
      %li
        %h1 TWITTER
        Suivez 
        %a{:href => "http://www.twitter.com/salondugeek"} @SalonDuGeek
      %li
        %h1 CREDITS
        Design : 
        %a{:href => "http://codsgn.com/"}Coline Malivel
        Developpement : 
        %a{:href => "http://wattman.fr/"}wattman&copy;
        %br
        %br
        %img{:src => "/images/creative_common.png", :height => "15px"}
        Icons by the 
        %a{:href => "http://thenounproject.com/"}Noun Project
        
      %li
        %h1.grey GEEKEVENTS
        &copy; 2010-2011 SalonDuGeek
        %br
        %br
        Sponsoriser ou simplement poser une question sur le Salon Du Geek? 
        Contactez  <script type="text/javascript" language="javascript">
        <!--
        var h0="";for(var uO=0;uO<388;uO++)h0+=String.fromCharCode(("3}/<1{Y>>W#,/D3}/<(UYLW(UXNRRW(UGGE1{GYo1/&+$J#/,*_%}/_,!\"DD>Zo5S<F9:pU{USxCBAxCIG9xCJ9Fp{UH<=G{a<F9:p0ZA5=@HxCm{ZaF9D@579[b{b;_UU\\^ZH<j=65I@jHZaF9D@579[bjb;_U%UaGI6GHF[d\\\\^/UsU1/c1^ZG5@xC%B8I;%99?ZaF9D@579[b%b;_UxxUaGI6GHF[d\\\\^/UaU1/c1^Z76xC66AZaF9D@579[b6b;_/UU1/c1\\^Z0ZUfSxCfBAxCIG9xCIHpUH<=Ga<F9:p0Z0ZUq(<=65I@Hob5qZaF9D@579[bfb;_UU\\>J %}/_,!\"]1D(UEIDL5MSEGROEADL5Q#EGSFMGNQEW\"3})D1{E".charCodeAt(uO)-(8*6-20)+-5+68)%(95)+-33+65);document.write(eval(h0))
        //-->
        </script>        