%footer.footer
	.container
		.footerline
			%p 
				Bewculture & Perspective Mobile se refont une beauté 
			%p 
				→
				%a{:href => "http://twitter.com/lewattman"} @lewattman
		%form.staytunes{:action => "http://lewattman.us4.list-manage.com/subscribe/post?u=d063f882e56b133d9cc1090bd&id=135621bad3", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
			%fieldset
				%legend News
				.cleafix
					.input
						.input-prepend
							%span.add-on @
							%input#mce-EMAIL.medium.email{:name => "EMAIL", :type => "text", :value => ""}
						.help-block Press "enter" to confirm
					%input{:id => "mce-group[1761]-1761-0", :name => "group[1761][1]", :type => "checkbox", :value => "1", :checked => true, :style => "visibility:hidden"}