%footer.footer
	.container
		.footerline
			%p 
				Bewculture & Perspective Mobile se refont une beauté 
			%p 
				→
				%a{:href => "twitter.com/lewattman"} @lewattman
		%form.staytunes
			%fieldset
				%legend Stay Tuned
				.cleafix
					.input
						.input-prepend
							%span.add-on @
							%input.medium{:id => "inputTunes", :type => "text", :size => "10"}
						.help-block Enter you email below