/ #top_ribbon
/   #ribbon_one
/     ribbon
#logo
  SALON<em>du</em>GEEK
  %span
    L'évènement dédié à la culture geek

#staytunes
  %span
    PARIS
  Lieu annoncé prochainement
  #formmail
    %input{:type => "text", :value => "Entrez votre adresse email"}
    %input{:type => "submit", :value => "restez connecté !"}

