
#logo
  %span#title SALON<em>du</em>GEEK
  %span#baseline
    L'évènement dédié à la culture geek

#staytunes
  %span
    PARIS
  Lieu annoncé prochainement
  #formmail
    .form
      %input{:type => "text", :value => "", :placeholder => "Entrez votre adresse email"}
      %input{:type => "submit", :value => "restez connecté !"}

