#menu
  %ul
    %li
      %a{:href => "#"} PRESENTATION
    %li
      %a{:href => "#"} EXPOSANTS
    %li
      %a{:href => "#"} SPONSORS
    %li
      %a{:href => "#"} CONTACT
    %li
      %a{:href => "#"} A PROPOS
    %li.followontwitter
      %a{:href => "http://www.twitter.com/salondugeek"} SUIVRE @Salondugeek