.centered
	<a data-placement="below" href="#" data-content="Restez connectés" data-original-title="Le lancement officiel approche" class="pop" rel="popover"><div class="flip-counter" id="flip-counter"></div></a>
		
/	.flip-counter#flip-counter  

/ .container
/ 	.hero-unit
/ 		%h1 Hello World
/ 		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
/ 		%p
/ 			%a.btn.primary.large Learn More &raquo;
/ 	%h1 Test
/ 	%h2 Test