html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.orange {
  color: #f16421;
}

.blue {
  color: #00879e;
}

.green {
  color: #75b948;
}

@font-face {
  font-family: "CABNDWebBold";
  src: url("cabndwebbold-webfont.eot");
  src: url("cabndwebbold-webfont.eot?#iefix") format("embedded-opentype");
  src: url("cabndwebbold-webfont.woff") format("woff");
  src: url("cabndwebbold-webfont.svg#CABNDWebBold") format("svg"), url("cabndwebbold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  color: #3366cc;
}
a:hover {
  color: #3366cc;
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

input[type=text] {
  background: white;
  border: 1px solid #999999;
  color: #999999;
  padding: 5px 10px;
  margin-right: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
input[type=submit] {
  font-family: "CABNDWebBold", Helvetica, Arial, sans-serif;
  font-style: normal;
  background: #f16421;
  border: none;
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
}
input[type=submit]:hover {
  background: #ebe2e2;
  color: #f16421;
}

body {
  font: 13px Arial, Helvetica, sans-serif;
  font-style: normal;
  background: #eeeff2 url("../images/noise.png");
  color: #616161;
}
body #menu {
  background: #f16421;
  position: absolute;
  top: 41px;
  width: 100%;
  height: 49px;
  z-index: 10;
}
body #menu.fixed {
  position: fixed;
}
body #menu ul {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body #menu ul li {
  display: inline;
  line-height: 48px;
  font-size: 1.2em;
  font-family: "CABNDWebBold", Helvetica, Arial, sans-serif;
  font-style: normal;
}
body #menu ul li.followontwitter {
  display: inline;
  float: right;
  background: url("../images/sprite_social.png") no-repeat 139px -10px;
  padding-right: 40px;
}
body #menu ul li.followontwitter:hover {
  background-position: 139px -58px;
}
body #menu ul li.followontwitter a {
  width: 100%;
}
body #menu ul li a {
  color: #ebe2e2;
  text-decoration: none;
  margin-right: 50px;
  display: inline-block;
  height: 100%;
  -webkit-transition: color 0.25s linear 0.1s;
  transition: color 0.25s linear 0.1s;
}
body #menu ul li a:hover {
  text-decoration: none;
  color: white;
}
body #content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding-top: 143px;
  overflow: visible;
}
body #content #top_ribbon {
  z-index: 11;
  position: relative;
}
body #content #top_ribbon #ribbon_one {
  background: url("../images/ribbon01.png") no-repeat -11px -9px;
  height: 383px;
  width: 73px;
  position: absolute;
  right: -54px;
  margin-top: -130px;
}
body #content #top_ribbon #ribbon_one.fixed {
  margin-left: 931px;
  position: fixed;
  right: auto;
  top: -168px;
  @-moz-document url-prefix() {
    right: auto;
    left: auto;
}

}
body #content #logo {
  font-family: "CABNDWebBold", Helvetica, Arial, sans-serif;
  font-style: normal;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 480px;
  background: url("../images/sprite_logo.png") no-repeat -10px -10px;
  padding-left: 78px;
  margin-right: -10px;
  font-size: 76px;
  line-height: 0.86;
  height: 93px;
  z-index: 1;
}
* html body #content #logo {
  overflow-x: hidden;
}
body #content #logo:hover {
  background-position: -10px -113px;
  cursor: pointer;
}
body #content #logo em {
  color: #999999;
}
body #content #logo span {
  display: inline;
  float: left;
  color: #f16421;
  font-size: 27px;
  padding-top: 8px;
  text-transform: uppercase;
}
body #content #staytunes {
  font-family: "CABNDWebBold", Helvetica, Arial, sans-serif;
  font-style: normal;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  width: 360px;
  background: url("../images/year.png") no-repeat 0 1px;
  height: 206px;
  font-size: 28px;
  text-transform: uppercase;
  color: #999999;
  padding-left: 27px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
}
* html body #content #staytunes {
  overflow-x: hidden;
}
body #content #staytunes span {
  display: inline;
  float: left;
  line-height: 0.85;
  font-size: 76px;
}
body #content #staytunes #formmail {
  padding-left: 135px;
  padding-top: 19px;
  margin-top: 8px;
  background: url("../images/sprite_arrows.png") repeat-y -6px 110px;
  text-align: right;
  position: relative;
  height: 90px;
  z-index: -1;
}
body #content #staytunes #formmail input {
  width: 100%;
}
body #content #staytunes #formmail input[type=text] {
  width: 91%;
  margin-bottom: 10px;
}
body #content #bullshit {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 830px;
  overflow: hidden;
  *zoom: 1;
}
* html body #content #bullshit {
  overflow-x: hidden;
}
body #content h1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 830px;
  width: 100%;
  font-family: "CABNDWebBold", Helvetica, Arial, sans-serif;
  font-style: normal;
  margin-top: 75px;
  border-bottom: 1px solid #999999;
  font-size: 4.25em;
  position: relative;
}
* html body #content h1 {
  overflow-x: hidden;
}
body #content h1.small {
  font-size: 3em;
}
body #content h1 .ribbon {
  background: no-repeat;
  position: absolute;
}
body #content h1 .ribbon.discover {
  left: -73px;
  top: 15px;
  height: 413px;
  width: 73px;
  background: url("../images/ribbon02.png") no-repeat 0 0;
}
body #content h1 .ribbon.participant {
  left: -73px;
  top: 27px;
  height: 204px;
  width: 73px;
  background: url("../images/ribbon03.png") no-repeat 6px 0;
}
body #content h1 .ribbon.sponsors {
  left: -68px;
  top: 27px;
  height: 282px;
  width: 73px;
  background: url("../images/ribbon04.png") no-repeat -6px 0;
}
body #content #discover {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 326px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #999999;
  position: relative;
  margin-bottom: 30px;
}
body #content #participant {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 124px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #999999;
  position: relative;
  margin-bottom: 30px;
}
body #content #sponsors {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 198px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #999999;
  position: relative;
  margin-bottom: 30px;
}

@-moz-document url-prefix() {
  body #content h1 .ribbon.discover {
    top: 20px;
  }

  body #content h1 .ribbon.participant {
    top: 32px;
  }

  body #content h1 .ribbon.sponsors {
    top: 32px;
  }
}
